.sidebar{
    height:100vh;
    position:fixed;
    top:0;
    align-items:center;
    z-index: 1000;
    display:none;
    font-family: "Poppins",sans-serif;
}

.sidebar .side-container .side-items{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:70vh;
    width: 60px;

}
.sidebar .side-container .side-items .side-item{
    transform:rotate(-90deg);
    cursor:pointer;
    text-transform:capitalize;
    color:#fff;
    font-weight:700
}


.side-item .active {
    color: #74db74;
}

@media screen and (min-width:1280px){
.sidebar{
    display:flex;

}
.sidebar .side-container .side-items .side-item:hover{
    color:#da0aff;
    transition: all ease-in 0.5s;
    /* background:#fff; */

}
}